CACHE_URL=redis://localhost:6379
DISABLE_REQUEST_LOGGING=0
ENCRYPTION_KEY=hpuVxHk-vJfr8Nl
JWT_SECRET=2285c6c4f398df188dfe04a29528109c
JWT_EXPIRY=30m
LOG_LEVEL=trace
FLW_PUB_KEY=FLWPUBK_TEST-fc45c5338f79ec448df5e2fabcd9f34d-X
FLW_SEC_KEY=FLWSECK_TEST-ebd49c159ad33d832d227005da5e3b57-X
MAILGUN_API_KEY=fc5d53915af953d
MAILGUN_DOMAIN=mg.getsubscrib.com
MAILGUN_FROM_EMAIL=no-reply@uselumeo.com
MAILGUN_FROM_NAME=UseLumeo
DATABASE_URI=mongodb://localhost:27017
PORT=4001
